<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/converter.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ru.ipolynkina.converter.converters" level="ERROR" additivity="true"/>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>