<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="lang" class="ru.ipolynkina.converter.beans.Language">
        <constructor-arg>
            <list>
                <value>ru</value>
                <value>en</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="inputFormat" class="ru.ipolynkina.converter.beans.FileFormat">
        <constructor-arg>
            <list>
                <value>json</value>
                <value>xml</value>
                <value>xls</value>
                <value>xlsx</value>
            </list>
        </constructor-arg>
    </bean>

</beans>
